[submodule "libraries/clFFT"]
	path = libraries/clFFT
	url = https://github.com/clMathLibraries/clFFT.git
	branch = develop
[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/eigen"]
	path = libraries/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "libraries/libsamplerate"]
	path = libraries/libsamplerate
	url = https://github.com/erikd/libsamplerate.git
[submodule "libraries/SignalResampler"]
	path = libraries/SignalResampler
	url = https://github.com/terrygta/SignalResampler.git
[submodule "libraries/EDFlib"]
	path = libraries/EDFlib
	url = https://github.com/machta/edflib.git
[submodule "libraries/pugixml"]
	path = libraries/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "libraries/ElkoAlenka"]
	path = libraries/ElkoAlenka
	url = https://github.com/svobolen/ElkoAlenka.git
[submodule "libraries/matio"]
	path = libraries/matio
	url = https://github.com/tbeu/matio.git
